### Django ###
*.log
*.pot
*.pyc
*.xml
__pycache__/
local_settings.py
settings.py
db.sqlite3
media/
node_modules/
venv/
mvp_pro/
.mypy_cache/
.vscode/
.idea/
logs/
env/
Pipfile
Pipfile.lock
migrations/
local_instance_install.sh
docker-compose.yml
/static/
mvpvenv/

