.image-upload_wrapper {
  height: 100vh;
  position: fixed;
  top: 0;
  margin: auto;
  z-index: 999;
  overflow: hidden;
}

.upload-cropper {
  height: 80vh;
  max-width: 40rem;
}

.button_wrapper {
  height: 20vh;
}

.button {
  cursor: pointer;
  transition: background 0.5s;
  font-family: Open Sans, Arial;
}

.button input {
  display: none;
}

.circle-stencil {
  border-radius: 50%;
  cursor: move;
  position: absolute;
  border: dashed 2px white;
  box-sizing: border-box;
}

.circle-stencil__handler {
  position: absolute;
  right: 15%;
  top: 14%;
  z-index: 1;
  cursor: ne-resize;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(50%, -50%);
}

.circle-stencil__preview {
  border-radius: 50%;
  overflow: hidden;
}
