<div class="social-icons d-flex justify-content-center align-items-center">
  <a 
      class="social-icons__link m-2" 
      href="https://www.linkedin.com/in/olegteterin/" 
      target="_blank" 
      data-toggle="tooltip"
      data-placement="top"
      data-html="true"
      data-title="LinkedIn">
    <img class="social-icons__icon" alt="LinkedIn" src="/static/img/social-icons/linkedin.svg" />
  </a>
  <a 
      class="social-icons__link  m-2" 
      href="https://twitter.com/TETERINOLEG" 
      target="_blank"
      data-toggle="tooltip"
      data-placement="top"
      data-html="true"
      data-title="Twitter">
    <img class="social-icons__icon" alt="Twitter" src="/static/img/social-icons/twitter.png" />
  </a>
  <a 
    class="social-icons__link m-2" 
    href="https://www.instagram.com/teterinolegjr/" 
    target="_blank"
    data-toggle="tooltip"
    data-placement="top"
    data-html="true"
    data-title="Instagram">
    <img class="social-icons__icon" alt="Instagram" src="/static/img/social-icons/instagram.png" />
  </a>
  <a 
    class="social-icons__link m-2" 
    href="https://www.facebook.com/LongActiveLifeInTime/" 
    target="_blank"
    data-toggle="tooltip"
    data-placement="top"
    data-html="true"
    data-title="Facebook">
    <img class="social-icons__icon" alt="Facebook" src="/static/img/social-icons/facebook.png" />
  </a>
  <a 
    class="social-icons__link m-2" 
    href="https://t.me/LongevityInTime" 
    target="_blank"
    data-toggle="tooltip"
    data-placement="top"
    data-html="true"
    data-title="Telegram">
    <img class="social-icons__icon" alt="Telegram" src="/static/img/social-icons/telegram.png" />
  </a>

  <style lang="css" scoped>
  .social-icons {
    flex-wrap: wrap;
  }

  .social-icons__icon {
    filter: grayscale(1);
    min-width: 32px;
    height: 32px;
    border-radius: 2.5px;
  }

  .social-icons__icon:hover {
    filter: none;
  }
</style>
</div>
